.container {
  position: relative;
  width: 230px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  transform: rotate(-90deg);
}

.bg {
  stroke: rgba(#fafcfc, 0.1);
}

.progress {
  stroke: #007aff;
  transition: stroke-dashoffset 0.25s linear;
  stroke-linecap: round;
  will-change: stroke-dashoffset;
}

.glow {
  stroke: #007aff;
  animation: pulse 1s ease-in-out infinite;
  transition: stroke-dashoffset 0.25s linear;
  stroke-linecap: round;
  will-change: stroke-dashoffset;
}

.stopped {
  animation: none;
  opacity: 1 !important;
}

.text {
  position: absolute;
  // top: 52%;
  // left: 51%;
  transform: translate(2px, 5px);
  color: #fafcfc;
  text-align: center;
  font-family: 'Bitcrusher Variable';
  font-size: 9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 9rem */
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  user-select: none;
  font-stretch: 83%;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
